@import "tailwindcss";

@source "../../../packages/react-ui/src";

@theme {
  --color-background: #ffffff;
  --color-foreground: #0a0a0b;
  --color-card: #ffffff;
  --color-card-foreground: #0a0a0b;
  --color-popover: #ffffff;
  --color-popover-foreground: #0a0a0b;
  --color-primary: #18181b;
  --color-primary-foreground: #fafafa;
  --color-secondary: #f4f4f5;
  --color-secondary-foreground: #18181b;
  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;
  --color-accent: #f4f4f5;
  --color-accent-foreground: #18181b;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #fafafa;
  --color-border: #e4e4e7;
  --color-input: #e4e4e7;
  --color-ring: #18181b;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
}

.dark {
  --color-background: #0a0a0b;
  --color-foreground: #fafafa;
  --color-card: #0a0a0b;
  --color-card-foreground: #fafafa;
  --color-popover: #0a0a0b;
  --color-popover-foreground: #fafafa;
  --color-primary: #fafafa;
  --color-primary-foreground: #18181b;
  --color-secondary: #27272a;
  --color-secondary-foreground: #fafafa;
  --color-muted: #27272a;
  --color-muted-foreground: #a1a1aa;
  --color-accent: #27272a;
  --color-accent-foreground: #fafafa;
  --color-destructive: #7f1d1d;
  --color-destructive-foreground: #fafafa;
  --color-border: #27272a;
  --color-input: #27272a;
  --color-ring: #d4d4d8;
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}